<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=1140">
    <link rel="stylesheet" href="/style/css/bootstrap.min.css">
    <link rel="stylesheet" href="/style/css/sweetalert2.min.css">
    <link rel="stylesheet" href="/style/css/style.css">
    <title>{{ title }}</title>
    <link rel="icon" type="image/png" href="/style/favicon.png">
  </head>

  <body>
    <div id="top-bar">
      <div class="top-text">{{ title }}</div>
      <div class="container top-cont">
      <div class="row buttons">
        <div class="col"></div>
        <div class="col-md-auto"></div>
        <div id="top-buttons" class="col col-lg-2">
          <div class="btn-cont"> 
            <button type="button" aria-disabled="true" class="btn btn-link save" disabled><i class="material-icons">save</i></button>
            <button type="button" class="btn btn-link add-new"><i class="material-icons">add</i></button>
            <button type="button" class="btn btn-primary auth">Авторизация</button>
          </div>
        </div>
      </div>
      </div>
    </div>

    <div id="table" class="container">
      <div id="userlist">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col"><button type="button" class="sort" data-sort="username">От:</button></th>
              <th scope="col"><button type="button" class="sort" data-sort="email">E-mail</button></th>
              <th scope="col">Описание задачи</th>
              <th scope="col"><button type="button" class="sort" data-sort="status">Статус</button></th>
              <th scope="col">Отредактировано</th>
            </tr>
          </thead>
          <tbody class="list"></tbody>
        </table>
        <div class="pages pagesBottom">
          <span>Страницы:</span>
          <nav aria-label="...">
            <ul id="paginationBottom" class="pagination paginationBottom pagination-sm"></ul>
          </nav>
        </div>
      </div>
    </div>

    <script src="/js/jquery-3.4.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/jquery.form.min.js"></script>
    <script src="/js/sweetalert2.min.js"></script>
    <script src="/js/list.min.js"></script>
    <script>
      var values = {{ db|json_encode()|raw }};
    </script>
    <script src="/js/main.js"></script>
  </body>
</html>