<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=1280">
    <meta name="Description" content=""/>
    <meta name="Keywords" content=""/>
    <link rel="stylesheet" href="/style/css/bootstrap.min.css">
    <title></title>
    <link rel="icon" type="image/png" href="/style/icons/favicon.png">
  </head>
  <body>
    test

  <script src="/style/js/jquery-3.4.0.min.js"></script>
  <script src="/style/js/jquery-3.4.0.min.js"></script>
  <script src="/style/js/jquery-3.4.0.min.js"></script>
  <script src="/style/js/jquery-3.4.0.min.js"></script>
  </body>
</html>