/*          Material Icons          */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(/style/fonts/MaterialIcons-Regular.woff) format('woff');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

*:focus {
  outline: none;
}

/* Top */
#top-bar {
  background: #3f52b5;
  box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
  position: relative;
  margin-bottom: 42px;
}

.container.top-cont {
  height: 60px;
}

.top-text {
  position: absolute;
  left: 10%;
  color: #fff;
  padding: 12px 0;
  font-size: 24px;
}

.btn-cont {
  display: inline-flex;
  position: absolute;
  right: 15px;
}

button .material-icons {
  line-height: inherit;
}

.row.buttons {
  padding: 11px 0;
}

button.add-new, button.save {
  margin-top: 7px;
  line-height: 1.5px;
}

button.save {
  display: none;
}

button.save,button.add-new {
  color: #fff;
}

button.save:hover,button.add-new:hover{
  color: #ddd;
}

/* Table */
.table td, .table th, .table thead th {
  padding: 15px 10px;
  border: none;
}

th, button.sort {
  border: none;
  color: rgba(0,0,0,0.6);
  font-size: 16px;
  font-weight: 300;
  text-align: left;
  background: none;
}

table>tbody>tr:nth-child(odd) {
  background-color: rgba(242,242,242,0.5);
}

th:last-child {
  width: 60px;
}

button.sort {
  padding: 0;
}

button:focus {
  box-shadow: none;
}

.desc:after {
  content: '↓';
}

.asc:after {
  content: '↑';
}

input.form-control:not(.desc) {
  width: 160px;
}

td.hint {
  padding: 22px 10px;
  color: red;
}

/* Pagination */
.pagesBottom span {
  float: left;
  padding-right: 4px;
}

/* Auth */
.swal2-show {
  -webkit-animation: showSweetAlert .4s !important;
          animation: showSweetAlert .4s !important; 
}
 
.login {
  margin: 20px auto;
  width: 300px;
}

.swal2-modal {
  background-color: #FFF;
  padding: 20px;
  border-radius: 5px
}

h2#swal2-title {
  text-align: center;
  color: #777;
  padding-top: 20px;
  padding-bottom: 10px;
}

.login-form {
  text-align: center;
}

.control-group {
  margin-bottom: 10px;
}

input {
text-align: center;
background-color: #ECF0F1;
border: 2px solid transparent;
border-radius: 3px;
font-size: 16px;
font-weight: 200;
padding: 10px 0;
width: 250px;
transition: border .5s;
}

input:focus {
  border: 2px solid #3498DB;
  box-shadow: none;
}

#auth.btn {
  border: 2px solid transparent;
  background: #3498DB;
  color: #ffffff;
  font-size: 16px;
  line-height: 25px;
  padding: 10px 0;
  text-decoration: none;
  text-shadow: none;
  border-radius: 3px;
  box-shadow: none;
  transition: 0.25s;
  display: block;
  width: 250px;
  margin: 0 auto;
}

#auth.btn:hover {
  background-color: #2980B9;
}