/*          Material Icons          */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(/style/fonts/MaterialIcons-Regular.woff) format('woff');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

/* Top */
#top-bar {
  background: #3f52b5;
  box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
  position: relative;
  margin-bottom: 42px;
}

.container.top-cont {
  height: 60px;
}

.top-text {
  position: absolute;
  left: 10%;
  color: #fff;
  padding: 12px 0;
  font-size: 24px;
}

.row.buttons {
  padding: 11px 0;
}

button.auth {
  float: right;
}

button.add-new {
  margin-left: -10px;
}

button.save {
  display: none;
  margin-left: -10px;
}

button.save,button.add-new {
  color: #fff;
}

button.save:hover,button.add-new:hover{
  color: #ddd;
}

/* Table */
.table td, .table th, .table thead th {
  padding: 15px 10px;
  border: none;
}

th, button.sort {
  border: none;
  color: rgba(0,0,0,0.6);
  font-size: 16px;
  font-weight: 300;
  text-align: left;
}

table>tbody>tr:nth-child(odd) {
  background-color: rgba(242,242,242,0.5);
}

th:last-child {
  width: 60px;
}

button.sort {
  padding: 0;
}

button:focus {
  outline: none;
  box-shadow: none;
}

.desc:after {
  content: '↓';
}

.asc:after {
  content: '↑';
}

input.form-control:not(.desc) {
  width: 160px;
}

td.hint {
  padding: 22px 10px;
  color: red;
}

/* Pagination */
.pagesBottom span {
  float: left;
  padding-right: 4px;
}
